.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.gameStandings {
    text-align: left;
}

button:hover {
    cursor: pointer;
    border: 2px solid #272829;
    font-size: 17px;
}

button {
    width: 120px;
    height: 35px;
    background-color: #6375fc;
    color: #f0f6f4;
    border: 1px solid #f0f6f4;
    font-size: 16px;
    margin: 10px;
}